# ant specific
dist/
build/
 
# netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# maven
.classpath
.project
.settings/
target/
 
# java specific
*.class
 
# general swap/backup/script files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.txt.*

#project specific
/BDETwitterListener/creds.properties
nb*.xml

# intellij idea
.idea/
*.iml

# config-specific
*.ignore
*META-INF*
out/*
*.csv#
*/res/*.properties
*/res/*_urls*
*/res/*.queries
*/res/*.accounts

timingParallelSpark.txt
sensitive/*
BDELocationExtraction/res/local/
installPOMs/
*res/locationnames
BDELocationExtraction/res/locationnames
BDERSSCrawler/res/*.urls

exec/*
!exec/cluster
!exec/news
!exec/tweets
!exec/location
!exec/gencpath


